<%= form_for(user) do |f| %>
    <% if user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <table>


      <tr >
        <td>  <%= f.label :name %></td>
        <td><%= f.text_field :name %></td>
      </tr>



      <tr >
        <td>   <%= f.label :dob %></td>
        <td><%= f.date_select :dob, :start_year=>1900 %></td>
      </tr>


      <tr >
        <td><%= f.label :salary %></td>
        <td><%= f.text_field :salary %></td>
      </tr>
      <tr>

        <td>  <%= f.label :location %></td>
        <td><%= f.text_field :location %></td>
      </tr>

    </table>
    <p>

      <%= f.submit %>
    </p>

<% end %>
