<p><%= notice %></p>
<h1>Users</h1>

<table>
  <%= form_tag(users_path, :method => "get", id: "search-form") do %>
      <td><%= label_tag :salary%>
        <%= text_field_tag :salary, params[:salary], placeholder: "Salary" %></td>
      <td><%= label_tag :location%>
        <%= text_field_tag :location, params[:location], placeholder: "Location" %></td>
      <td class="pTop10"><%= submit_tag "Search" %></td>
  <% end %>
</table>
<p>
<table>

  <tr>
    <th>Name</th>
    <th>Dob</th>
    <th>Salary</th>
    <th>Location</th>
  </tr>


  <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.dob %></td>
        <td><%= user.salary %></td>
        <td><%= user.location %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>
</p>
<br>

<%= link_to 'New User', new_user_path %>
